<div ng-app="app">
	<div ng-controller="todoController">
		<section class="panel panel-default">
			<header class="panel-heading">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="message" placeholder="ToDo ..." />
					<span class="input-group-btn">
						<button class="btn btn-primary" ng-click="addTodoItem(message)">Add</button>
					</span>
				</div>
			</header>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="todoItem in todoItems">
					<div class="list-group-item-inner">
						<div class="item-wrapper">
							<input type="checkbox" ng-model="todoItem.done" />
						</div>
						<label class="done-{{todoItem.done}}" ng-dblclick="updateTodoItem(todoItem)">{{todoItem.message}}</label>
						<div class="item-wrapper">
							<button class="btn btn-danger btn-xs" ng-click="removeTodoItem(todoItem.id)">&times;</button>
						</div>
					</div>
				</li>
			</ul>
			<footer class="panel-footer">
				<span class="badge">{{remaining()}}</span> Items left
			</footer>
		</section>
	</div>
</div>



